<script src="https://cdn.bootcss.com/jquery.form/4.2.1/jquery.form.min.js"></script>

<div class="modal-dialog modal-md add_div" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">未发红包</h4>
        </div>

        <div class="modal-body">
            <form class="row" id="_form">
                <div class="form-group col-md-12">
                    <label class="" for="createAt">日期</label>
                    <input type="date" class="form-control" name="createAt" id="createAt" disabled placeholder="日期">
                </div>
                <div class="form-group col-md-6">
                    <label class="" for="fromArea">地区</label>
                    <input type="text" class="form-control" name="fromArea" id="fromArea" placeholder="地区">
                </div>
                <div class="form-group col-md-6">
                    <input type="hidden" name="uid" id="uid">
                    <label class="" for="uName">人员</label>
                    <input type="text" class="form-control" name="uName" id="uName" placeholder="人员">
                </div>
                <div class="form-group col-md-12 ">
                    <label class="" for="pname">商品</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="pname" placeholder="商品名称" data-toggle="popover">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="btn_addpro">添加</button>
                        </span>
                    </div>
                </div>
                <div class="form-group row col-md-12 " id="_prolist">

                    <div class="col-md-6 " v-for="item in order.products">
                        <div class="input-group input-group-sm _pro_div">
                            <span class="input-group-addon">{{item.name}}</span>
                            <input type="hidden" class="_pid" :value="item.id">
                            <input type="hidden" class="_pname" :value="item.name">
                            <span class="input-group-btn"  @click="proMinus(item.id)" :id="'pid_'+item.id">
                                  <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-minus"></span></button>
                            </span>

                            <input type="number" class="form-control _pcount" :value="item.count" placeholder="数量">
                            <span class="input-group-btn"  @click="proAdd(item.id)">
                                  <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-plus"></span></button>
                            </span>
                        </div>
                    </div>

                </div>
                <div class="form-group col-md-6">
                    <label class="" for="award">奖金</label>
                    <input type="number" class="form-control" name="award" :value="award" id="award" placeholder="奖金">
                </div>
            </form>
        </div>


        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="button" id="_submit" class="btn btn-primary">保存</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

<script th:inline="javascript">
    var data = [[${item}]];
    console.log(data);
    $(function () {

        var vm = new Vue({
            el: '#_form',
            data: {
                order:[[${item}]]
            }


        });
    });





</script>
