<div class="btn-group">
    <button type="button" class="btn btn-success" onclick="add()">添加</button>
</div>
<div class="btn-group">
    <button type="button" class="btn btn-primary" onclick="excelExport()">导出数据</button>
</div>

<table class="table table-striped table-hover" xmlns:th="http://www.w3.org/1999/xhtml">
    <thead>
    <tr>
        <th>#</th>
        <th>日期</th>
        <th>地区</th>
        <th>人员</th>
        <th>奖金</th>
        <th>商品订单</th>
        <th>奖金发放状态</th>
        <th>状态</th>
    </tr>
    </thead>
    <tr th:each="i:${items}">
        <td th:text="${iStat.count}"></td>
        <td th:text="${i.createAt}"></td>
        <td th:text="${i.person.fromArea}"></td>
        <td th:text="${i.person.uName}"></td>
        <td th:text="${i.award}"></td>
        <td>
            <span th:each="p:${i.products}">
                <span th:text="${p.pid.pname}+'/'+${p.quantity}"></span>&nbsp;
            </span>
        </td>
        <td th:switch="${i.status}"><span th:case="0" class="label label-danger">未发放</span><span th:case="5" class="label label-success">已发放</span></td>
        <td th:text="${i.deleted}"></td>
    </tr>
</table>

<script>
    function add() {
        $('#myModal').load("/order/add",function(){
            $('#myModal').modal({keyboard: true});
        })
    }

    function excelExport() {
        $('#myModal').load("/order/export",function(){
            $('#myModal').modal({keyboard: true});
        })
    }

    function dele(id) {
        $.ajax({
            type: 'delete',
            url: '/order/delete/'+id,
            success: function(data){
                if (data.code == "0") {
                    alert("操作成功！");
                } else {
                    alert("操作失败：" + data.page);
                }
            }
        });
    }

    function updata(id) {
        $('#myModal').load("/order/updata/"+id,function(){
            $('#myModal').modal({keyboard: true});
        })
    }

    /**
     * 地区选择
     * @param obj
     */
    function selectFromArea(obj) {
        $("#fromArea").val($(obj).html())
        $("#fromArea").popover("hide");
    }

    function getArea() {
        $.get({
            url: '/person/findarea',
            data: {
                fromArea: $("#fromArea").val()
            },
            success: function (data) {
                var html = "";
                jQuery.each(data.page, function(i, v) {
                    html = html + "<button type=\"button\" style=\"margin-bottom: 5px;\" class=\"btn btn-success btn-sm\" onclick='selectFromArea(this)'>" + v + "</button>&nbsp;";
                });
                $("#fromArea_div").html(html);
            }
        });
    }

    function selectPname(obj,id,pname,award) {
        $("#pname").val(pname);
        $("#_award").val(award);
        $("#h_pid").val(id);
        $("#pname").popover("hide");
    }

    function getPname() {
        $.get({
            url: '/product/findall',
            data: {
                pname: $("#pname").val()
            },
            success: function (data) {
                var html = "";
                jQuery.each(data.page, function(i, v) {
                    html = html + "<button type=\"button\" style=\"margin-bottom: 5px;\" class=\"btn btn-success btn-sm\" onclick=\"selectPname(this,'" + v.id + "','" + v.pname +"','" + v.award + "')\">" + v.pname + "</button>&nbsp;";
                });
                $("#pname_div").html(html);
            }
        });
    }


    /**
     * 人员选择
     * @param obj
     */
    function selectUname(obj, id, fromArea, uName) {
        $("#uid").val(id)
        $("#fromArea").val(fromArea)
        $("#uName").val(uName)
        $("#uName").popover("hide");
    }

    function getUname() {
        $.get({
            url: '/person/find',
            data: {
                fromArea: $("#fromArea").val(),
                uname: $("#uName").val()
            },
            success: function (data) {
                var html = "";
                jQuery.each(data.page, function(i, v) {
                    html = html + "<button type=\"button\" style=\"margin-bottom: 5px;\" class=\"btn btn-success btn-sm\" onclick=\"selectUname(this,'" + v.id + "','" + v.fromArea + "','" + v.uName + "')\">" + v.fromArea + v.uName + "</button>&nbsp;";
                });
                $("#uName_div").html(html);
            }
        });
    }

</script>