<div class="" style="margin-top: 20px;" xmlns:th="http://www.w3.org/1999/xhtml" >
    <div class="col-md-6 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>手机访问</h4>
            </div>
            <div class="panel-body" >
                <div style="width: 100%;height:350px;">
                    <img src="/other/QR">
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>红包登记</h4>
            </div>
            <div class="panel-body" >
                <div style="width: 100%;height:350px;">
                    <img src="/other/hb/QR">
                </div>
            </div>
        </div>
    </div>

<script>


</script>